.primary-btn{

background:var(--primary);

border:none;

color:white;

padding:15px 25px;

border-radius:15px;

font-size:15px;

display:flex;

align-items:center;

gap:10px;

transition:.3s;

box-shadow:var(--shadow);

}

.primary-btn:hover{

transform:translateY(-3px);

background:#1d4ed8;

}