.course-card{

background:#f8fbff;

border-radius:18px;

padding:18px;

transition:.35s;

border:1px solid #dbeafe;

}

.course-card:hover{

transform:translateY(-6px);

box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.course-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:15px;

}

.course-code{

font-weight:700;

color:var(--primary);

font-size:17px;

}

.badge{

background:var(--primary);

color:white;

padding:5px 12px;

border-radius:20px;

font-size:12px;

}

.course-card h4{

margin-bottom:10px;

}

.course-card p{

color:#64748b;

margin-bottom:18px;

font-size:14px;

}

.progress{

height:8px;

background:#dbeafe;

border-radius:20px;

overflow:hidden;

margin-bottom:8px;

}

.progress-fill{

width:60%;

height:100%;

background:linear-gradient(90deg,#2563eb,#60a5fa);

}

.progress-box small{

color:#64748b;

}

.task-card{

margin-top:15px;

background:white;

padding:12px;

border-radius:14px;

box-shadow:0 5px 10px rgba(0,0,0,.05);

}

.task-card label{

display:flex;

gap:8px;

font-size:14px;

margin-bottom:8px;

}

.task-card small{

color:#64748b;

}

.task-card strong{

color:#ef4444;

}

form{

background:white;

padding:25px;

margin:30px 0;

border-radius:20px;

box-shadow:var(--shadow);

}

.form-group{

display:flex;

flex-direction:column;

margin-bottom:18px;

}

.form-group label{

margin-bottom:8px;

font-weight:600;

}

.form-group input,
.form-group select{

padding:13px;

border:1px solid #ddd;

border-radius:12px;

outline:none;

font-size:15px;

}

.form-group input:focus,
.form-group select:focus{

border-color:#2563eb;

}