.statistics{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.card{

background:white;

border-radius:20px;

padding:25px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:var(--shadow);

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.card span{

color:var(--gray);

}

.card h2{

margin-top:10px;

font-size:34px;

color:var(--text);

}

.card i{

font-size:45px;

color:var(--primary);

}