:root{

--primary:#2563eb;

--secondary:#3b82f6;

--sidebar:#1e40af;

--background:#edf4ff;

--white:#ffffff;

--text:#1f2937;

--gray:#64748b;

--shadow:0 12px 25px rgba(0,0,0,.08);

--radius:20px;

}